* {
    margin: 0;
}

body {
    height: 100vh;
}

.page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.photo-and-bio {
    max-width: 1200px;
    display: flex;
    padding: 0 50px;
    flex-wrap: wrap;
}

.photo-block {
    display: flex;
    border-bottom: 2px solid black;
    max-width: 480px;
    width: 50%;
}

.photo-block img {
    width: 100%;
}

.text-block {
    width: 50%;
    /*width: 480px;*/
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: "Liberation Mono", monospace;
}

.fullname {
    font-size: 30px;
}

.position {
    margin-top: 10px;
    font-size: 18px;
}


.linkedin {
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.linkedin-url {
    margin-left: 10px;
    text-decoration: none;
    color: unset;
}

.linkedin-url:hover {
    color: cornflowerblue;    
}

@media (max-width: 767px) {
    .photo-block {
        width: 100%;
        max-width: none;
    }

    .text-block {
        width: 100%;
        max-width: none;
        padding: 40px 0;
    }
}
